#-------------------------
# Global Ignore Patterns
#-------------------------

## OS-specific files
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~
.directory
.Trash-*

#-------------------------
# Environment Files
#-------------------------

# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

