 .cl-head {
     color: white;
     background-color: black;
 }

 #loading-overlay {
     background: rgb(255 255 255 / 80%);
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     z-index: 9999;
 }

 .tableFixHead {
     overflow-y: auto;
     height: 500px;
 }

 .tableFixHead .table {
     border-collapse: separate;
     border-spacing: 0px;
 }

 .tableFixHead thead {
     position: sticky;
     top: 0;
     z-index: 1;
 }

 .tableFixHead thead th {
     border-top: 0.1px solid #fff;
 }

 table .custom-table {
     display: table;
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

 .custom-table td,
 .custom-table th {
     border: 1px solid #ddd;
     padding: 8px;
 }

 .custom-table tr:nth-child(even) {
     background-color: #f2f2f2;
 }

 .custom-table tr:hover {
     background-color: #ddd;
 }

 .custom-table th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #2C3B49;
     color: white;
 }

 .modal-fullscreen {
     width: 100vw;
     max-width: none;
     height: 100%;
     margin: 0;
 }

 .disableddiv {
     pointer-events: none;
     opacity: 0.4;
 }

 .fileinput {
     width: 150px;
     text-align: center;
 }

 .left-col {
     float: left;
     width: 25%;
 }

 .center-col {
     float: left;
     width: 50%;
 }

 .right-col {
     float: left;
     width: 25%;
 }

 .disable {
     pointer-events: none;
     opacity: 0.5;
 }

 select[readonly] {
     pointer-events: none;
 }

 select[readonly].select2-hidden-accessible+.select2-container {
     pointer-events: none;
     touch-action: none;
 }

 select[readonly].select2-hidden-accessible+.select2-container .select2-selection {
     background: #eee;
     box-shadow: none;
 }

 select[readonly].select2-hidden-accessible+.select2-container .select2-selection__arrow,
 select[readonly].select2-hidden-accessible+.select2-container .select2-selection__clear {
     display: none;
 }